[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "faersquarterlydata"]
	path = faersquarterlydata
	url = https://github.com/cran/faersquarterlydata
	shallow = true
	registered = true
[submodule "long2lstmarray"]
	path = long2lstmarray
	url = https://github.com/luisgarcez11/long2lstmarray
	shallow = true
	registered = true
[submodule "qualitycontrol"]
	path = qualitycontrol
	url = https://github.com/luisgarcez11/qualitycontrol
	shallow = true
	registered = true
